.profile {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: solid 1px rgba(30, 29, 29, 0.516);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCharacter {
    position: absolute;
    bottom: 1.5%;
    right: 17%;
    height: 88%;
}

.intro {
    position: absolute;
    top: 40%;
    left: 10%;
}

.textSmall {
    font-size: 0.6rem;
}

.textNormal {
    font-size: 0.8rem;
}

.border-red {
    margin-bottom: 1%;
    border: 0.1vw solid red;
    opacity: 1;
    width: 10%;
}

.link {
    border-bottom: 2px solid black;
    width: fit-content;
    font-size: 1.5;
}

.introMainText {
    font-size: 3rem;
}

.bigText {
    font-size: 5rem;
}

@media (min-width: 667px) and (max-width: 997px) {
    .intro {
        position: absolute;
        top: 30%;
        left: 10%;
    }
    .introMainText {
        font-size: 2rem;
    }

    .link {
        font-size: 1rem;
    }
}

@media (max-width: 667px) {
    .intro {
        position: absolute;
        top: 25%;
        left: 10%;
    }
    .introMainText {
        font-size: 1.5rem;
    }

    .link {
        font-size: 0.7rem;
    }
}

.mainColor {
    color: #dead6f99;
}

.hoverFilter svg {
    transition: all 0.3s;
}

.hoverFilter:hover svg {
    color: #c28f4d99;
}

.productImage {
    width: 17vw;
    height: 17vw;
}

.starsColor {
    color: #dead6f;
}

.fitContent {
    width: fit-content;
}

.activeNow {
    border-bottom: solid 2px black;
}

.numberOfItems {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

.productDetails {
    height: calc(100vh - 165px);
}
